INSIGHTS_ENV=TEST

INSIGHTS_TEST_BASE_URL=https://comtemp-insights.50115.elluciancloud.com
INSIGHTS_TEST_DATABASE_ID=2
INSIGHTS_TEST_API_KEY=

INSIGHTS_PROD_BASE_URL=
INSIGHTS_PROD_DATABASE_ID=
INSIGHTS_PROD_API_KEY=
