# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Logs
logs/

# Data Files
data/
*.zip
*.xlsx
*.csv
*.xlsm
.json

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Playwright artifacts
playwright-report/
test-results/